web:
  build: .
  volumes:
    - .:/app
  ports:
    - "3000:3000"
  links:
    - db
  env_file:
    - '.env.web'
db:
  image: mysql:5.6
  environment:
    MYSQL_ALLOW_EMPTY_PASSWORD: "true"
  ports:
    - "13306:3306"
  env_file:
    - '.env.db'
